
.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f8ff; 
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top:30px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
  }
  
  input[type="text"]:focus {
    border-color: #00bcd4; 
  }
  
  button {
    background-color: #00bcd4; 
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #008c9e; 
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  li {
    background-color: #e1f5fe;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
  }
  
  p {
    color: red; 
    font-weight: bold;
  }
  